<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vid_lancer.trafficroadsignscanada"



    android:versionCode="2"
    android:versionName="2.0"
    >


    <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="false"></supports-screens>



    <application
        android:allowBackup="true"
        android:icon="@mipmap/trs"

        android:label="@string/app_name"
        android:screenOrientation="portrait"
        android:roundIcon="@mipmap/trs"

        android:supportsRtl="true"
        android:theme="@style/NoActionBar">

        <activity android:name=".SplashScreen" android:theme="@style/NoActionBar" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>

        <activity android:name=".Options" android:theme="@style/NoActionBar" android:screenOrientation="portrait"/>

        <activity android:name=".Home" android:theme="@style/NoActionBar" android:screenOrientation="portrait"/>

        <activity android:name=".RegulatorySigns" android:theme="@style/NoActionBar" android:screenOrientation="portrait"/>
        <activity android:name=".WarningSigns" android:theme="@style/NoActionBar" android:screenOrientation="portrait"/>
        <activity android:name=".InformationSigns" android:theme="@style/NoActionBar" android:screenOrientation="portrait"/>
        <activity android:name=".RoadWorkSigns" android:theme="@style/NoActionBar" android:screenOrientation="portrait"/>
        <activity android:name=".OtherSigns" android:theme="@style/NoActionBar" android:screenOrientation="portrait"/>
        <activity android:name=".TrafficLights" android:theme="@style/NoActionBar" android:screenOrientation="portrait"/>
        <activity android:name="quiz.Quiz" android:theme="@style/NoActionBar" android:screenOrientation="portrait"/>
        <activity android:name="quiz.Quiz1" android:theme="@style/NoActionBar" android:screenOrientation="portrait"/>
        <activity android:name="quiz.Result" android:theme="@style/NoActionBar" android:screenOrientation="portrait"/>
        <activity android:name="quiz.Quiz2" android:theme="@style/NoActionBar" android:screenOrientation="portrait"/>
        <activity android:name="quiz.Quiz3" android:theme="@style/NoActionBar" android:screenOrientation="portrait"/>
        <activity android:name="quiz.Quiz4" android:theme="@style/NoActionBar" android:screenOrientation="portrait"/>
        <activity android:name="quiz.Quiz5" android:theme="@style/NoActionBar" android:screenOrientation="portrait"/>
        <activity android:name="quiz.Quiz6" android:theme="@style/NoActionBar" android:screenOrientation="portrait"/>
        <activity android:name="quiz.Quiz7" android:theme="@style/NoActionBar" android:screenOrientation="portrait"/>


    </application>

</manifest>